<!DOCTYPE html>
<html>
  <head>
    <Title>Search and Map</Title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <script type="text/javascript" src="https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&s=1"></script>
    <script type="text/javascript">
    var map = null;
    function getMap() {
    // Define the address on which to centre the map
    var postalCode = "SW1P3AD" //Postcode
    // Construct a request to the REST geocode service
    var geocodeRequest = "https://dev.virtualearth.net/REST/v1/Locations"
                         + "?postalCode=" + <%="'#{@postcode}'"%>
                         + "&key=" + <%= "'#{ENV['THE_NEXT_KEY']}'" %>
                         + "&jsonp=GeocodeCallback"; // This function will be called after the geocode service returns its results
    // Call the service
    CallRestService(geocodeRequest);
    }
    function GeocodeCallback(result) {
      // Check that we have a valid response
      if (result && result.resourceSets && result.resourceSets.length > 0 && result.resourceSets[0].resources && result.resourceSets[0].resources.length > 0) {
        // Create a Location based on the geocoded coordinates
        var coords = result.resourceSets[0].resources[0].point.coordinates;
        centerPoint = new Microsoft.Maps.Location(coords[0], coords[1]);
        // Create a map centred on the location
        map = new Microsoft.Maps.Map(document.getElementById("mapDiv"),
                           { credentials: <%= "'#{ENV['THE_NEXT_KEY']}'" %>,
                             center: centerPoint,
                             mapTypeId: Microsoft.Maps.MapTypeId.road,
                             zoom: 6
                           });
        // Add a pushpin as well
        var pushpin = new Microsoft.Maps.Pushpin(map.getCenter());
        map.entities.push(pushpin);
      }
    }
    // This is a generic function to call a REST service and insert the JSON
    // results into the head of the document
    function CallRestService(request) {
      var script = document.createElement("script");
      script.setAttribute("type", "text/javascript");
      script.setAttribute("src", request);
      var dochead = document.getElementsByTagName("head").item(0);
      dochead.appendChild(script);
    }
  </script>

  </head>
  <body onload="getMap();">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <table class="table table-striped">
            <% @results.each do |result| %>
              <tr>
                <td>
                  <a href=<%= "#{result.url}" %>><%= "#{result.title}" %></a>
                  <p><%= "#{result.description}" %></p>
                  <p><%= "#{result.url}" %></p>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
        <div class="col-sm-4" id='mapDiv' style="position:relative; max-width:100%; height:430px;"></div>
      </div>
     </div>
  </body>
</html>
